#contenedor12345 {
 background-image: url('../img/raph.PNG');
 width: 600px;
 height: 530px;
 margin-left: 370px;
 margin-top: 0px;
 border-radius: 15px;
 }



h1{
	color: white;
	margin-top: 0px;
}

